body {
  display: flex;
  background-image: url(FLAG.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-position: center;
}

.gif1 {
animation: spin 4s infinite linear;
}

.gif2 {
animation: spin 4s infinite linear;
}

.gif3 {
animation: spin 4s infinite linear;
}

.top {
  top:0;
  text-align: center;
  background-color: yellow;
  position: absolute;
  z-index: 1000;
      filter: drop-shadow(5px 5px 4px #FF0000) drop-shadow(5px 5px 4px #FF7F00) drop-shadow(5px 5px 4px #FFFF00) drop-shadow(5px 5px 4px #00FF00) drop-shadow(5px 5px 4px #0000FF) drop-shadow(5px 5px 4px #2E2B5F) drop-shadow(5px 5px 4px #8B00FF);
}

.sound {
  height: 50px;
  width: 50px;
}

.monke {
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.meme {
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.jin {
  animation-name: jin;
  animation-duration: 3s;
}

.larry {
  animation-name: larry;
  animation-duration: 4s;
}

.alex {
  animation-name: alex;
  animation-duration: 2s;
}

.spongebob {
  animation-name: alex;
  animation-duration: 5s;
}

.password-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 300px;
  font-size: 2em;
  animation-name: around;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes around {
  0% {
    color: red;
    transform: translate(0, 0);
  }
  25% {
    color: yellow;
    transform: translate(calc(100vw - 300px), 0);
  }
  50% {
    color: blue;
    transform: translate(calc(100vw - 300px), calc(100vh - 200px));
  }
  75% {
    color: green;
    transform: translate(0, calc(100vh - 200px));
  }
  100% {
    color: red;
    transform: translate(0, 0);
  }
}

@keyframes jin {
  0% {
      transform: translate(0, 0);
    }
    30% {
      transform: translate(calc(100vw - 300px), 0);
    }
    60% {
      transform: translate(calc(100vw - 300px), calc(100vh - 200px));
    }
    80% {
      transform: translate(0, calc(100vh - 200px));
    }
    100% {
      transform: translate(0, 0);
    }
}

@keyframes alex {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(calc(100vw - 300px), 0);
  }

  60% {
    transform: translate(calc(100vw - 300px), calc(100vh - 200px));
  }

  80% {
    transform: translate(0, calc(100vh - 200px));
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes larry {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(calc(100vw - 300px), 0);
  }

  60% {
    transform: translate(calc(100vw - 300px), calc(100vh - 200px));
  }

  80% {
    transform: translate(0, calc(100vh - 200px));
  }

  100% {
    transform: translate(0, 0);
  }
}